<form class="{{_formClass}} {{if submitted 'submitted'}}" {{action "submit" on="submit"}}>
  {{yield (hash
    input=(component 'validated-input' model=model submitted=submitted config=config)
  )}}

  <p>
    {{#if on-submit}}
		<div class="{{_buttonClass}}">
		  <button class={{config.css.submit}} type="submit">{{_submitLabel}}</button>
		</div>
    {{/if}}
    {{#if on-cancel}}
		<div class="{{_buttonClass}}">
		  <button class={{config.css.cancel}} {{action on-cancel}}>
			{{_cancelLabel}}</button>
		</div>
    {{/if}}
  </p>
</form>
